body
{
	background-color: #F5F5F5;
}


body, html
{
	height: 100%;
}

#card-principal
{
	margin: auto;
	padding: 33px 37px;
	width: 27rem;
}

.img-fluid {
	padding: 0 27px;
}

.welcome
{
	color: #7F5ADB;
	text-align: center;
}

.submit-button
{
	background-color: #7F5ADB;
	border-color: #7F5ADB;
	border-radius: 0;

}

.submit-button:hover
{
	background-color: #7F5ADB;
}

.submit-button:focus
{
	background-color: #7F5ADB; !important
}

.submit-button:active
{
	background-color: #7F5ADB; !important
}

.form-control
{
	border-radius: 0;
}

.validation-block
{
	width: 32%;
	display: inline-block;
	height: 10px;
	background-color: #EBEBEB;
}

ul {
  list-style-type: none; /* no default bullets */
  padding: 0;
}

li { 
  font-family: Arial;
  font-size: 16px;
}

li:before { /* the custom styled bullets */
  background-color: #CED4DA;
  border-radius: 50%;
  content: "";
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 2px;
  height: 10px;
  width: 10px;
}

.dot-red:before {
	background-color: #F06424;
}

.dot-green:before {
	background-color: #20D498;
}

label.error {
	display: none;
}